# Escolha o ambiente atual para conectar no banco correto (prod, hom ou dev)
APP_ENV=

# URLs das branches do Neon
DATABASE_URL_DEV=
DATABASE_URL_HOM=
DATABASE_URL_PROD=


# Variáveis legadas (se algo externo precisar apenas de DATABASE_URL, usamos a de DEV como padrão)
DATABASE_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=

# Variaveis do Frontend
REACT_APP_API_URL=
REACT_APP_CHAT_URL=
REACT_APP_VAPID_PUBLIC_KEY=
REACT_APP_GOOGLE_MAPS_API_KEY=

# Configuracoes de Notificacoes VAPID WebPush
VAPID_MAILTO=mailto:232006663@aluno.unb.br
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=